

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
  color: antiquewhite;
}
h1 {
  margin-left: 80px;
  color: #424f95;
}
h6 {
  margin-left: 80px;
  color: brown;
  line-height: 1.7;
}
img-fluid{
  margin-top: 30px;
}
.btn{
  margin-left: 80px;
}

#container {
  padding: 2em;
  
  }
      #list{
      padding: 1em;
      display: block;
      background-color:darkslategrey;
      margin-bottom: 10px;
      color:black;
      
    
      }
  
      button {
     
      margin: 10px;
      margin-bottom: 20px;
      /* padding: 10px; */
      color:antiquewhite;
      font-style: italic;
      
      }
  
      .col {
          width:50%;
          display: inline-block;
          padding: 40px 0;
          color:cadetblue
      }
  