 <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/left">Train Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/right">Contacts</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
             </div>
          </form>
        </div>
      </div>
    </nav>

  
 <div class="view" style="background-image: url('./assets/bg-2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
 
  <div class="mask rgba-gradient align-items-center">
    
    <div class="container">
    
      <div class="row">
        <div id="container" [@listAnimation]="items.length">
          <button type="button" class="btn btn-outline-dark"   (click)="pushItem()">Show more</button>
          <button  type="button" class="btn btn-outline-warning" (click)="removeItem()">Remove Item</button>
          <div id="list" *ngFor="let item of items">
          {{item}}
          </div>
      
   